@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@layer base {
    :root {
        --background: 207 73.3% 97.1%; /* neutral-50 */
        --foreground: 212 61.3% 12.2%; /* neutral-950 */

        --neutral: 207 71.8% 86.1%;
        --neutral-100: 213 68.7% 93.7%;
        --neutral-300: 207 72.9% 73.9%;
        --neutral-foreground: 212 61.3% 12.2%;

        --card: 213 68.7% 93.7%; /* neutral-100 */
        --card-foreground: 212 61.3% 12.2%; /* neutral-foreground */

        --popover: 213 68.7% 93.7%; /* neutral-100 */
        --popover-foreground: 212 61.3% 12.2%; /* neutral-foreground */

        --primary: 180 100% 73.7%; /* primary-300 */
        --primary-50: 174 100% 96.1%;
        --primary-500: 182 100% 43.1%;
        --primary-700: 186 88.6% 31%;
        --primary-foreground: 212 61.3% 12.2%; /* foreground */

        --secondary: 36 95.9% 61.8%; /* secondary-300 */
        --secondary-50: 39 100% 96.1%;
        --secondary-500: 28 91.3% 50.2%;
        --secondary-700: 16 89.4% 37.1%;
        --secondary-900: 11 77.8% 26.5%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 227 69.7% 54.7%; /* accent-600 */
        --accent-100: 221 78.4% 92.7%;
        --accent-400: 219 79.3% 67.8%;
        --accent-800: 232 59% 40.2%;
        --accent-950: 232 47.7% 21%;
        --accent-foreground: 207 73.3% 97.1%;

        --destructive: 0 72.2% 50.6%; /* destructive-600 */
        --destructive-100: 0 93.3% 94.1%;
        --destructive-400: 0 90.6% 70.8%;
        --destructive-800: 0 70% 35.3%;
        --destructive-950: 0 74.7% 15.5%;
        --destructive-foreground: 0 0% 98%;

        --success: 120 97.1% 73.1%; /* success-300 */
        --success-50: 116 100% 96.7%;
        --success-500: 120 89.6% 45.3%;
        --success-700: 120 90.6% 29.2%;
        --success-900: 122 76.7% 20.2%;
        --success-foreground: 212 61.3% 12.2%; /* foreground */

        --warning: 28 95.3% 50.2%; /* warning-500 */
        --warning-50: 39 100% 96.1%;
        --warning-300: 36 100% 64.5%;
        --warning-700: 16 93.7% 37.1%;
        --warning-900: 12 80.7% 26.5%;
        --warning-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 212 61.3% 12.2%; /* neutral-950 */
        --foreground: 207 73.3% 97.1%; /* neutral-50 */

        --neutral: 207 71.8% 86.1%;
        --neutral-foreground: 207 73.3% 97.1%;

        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 180 100% 73.7%; /* primary-300 */
        --primary-foreground: 212 61.3% 12.2%; /* background */

        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
    }
}

@layer base {
    * {
        @apply border-border min-w-0;
    }
    body {
        @apply bg-background text-foreground;
        overflow-x: hidden;
    }
}
